* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(99,98,122);
    background: linear-gradient(49deg, rgba(99,98,122,1) 0%, rgba(174,189,199,1) 50%, rgba(255,255,255,1) 100%);
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#escolha {
    background-color: rgba(255, 255, 255, 0.0); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

h1 {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #0011ff;
    font-size: 18px;
    transition: color 0.3s;
}

a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}